.Elec-circle {
  animation: cir-left-right;
  animation: cir-left-right 12s ease-in-out infinite;
}

.Elec-circle .line {
  background: rgb(44, 145, 225);
  background: linear-gradient(
    93deg,
    rgba(44, 145, 225, 0.30584733893557425) 20%,
    rgba(44, 145, 225, 0.5551470588235294) 38%,
    rgba(44, 145, 225, 1) 93%
  );
}

.linkes-hover:hover {
  color: #2c91e1;
}

@keyframes cir-left-right {
  0% {
    left: -10%;
  }
  100% {
    left: 98.5%; /* Adjust this value for the distance you want the circle to move */
  }
}
