@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("./font/DTGetaiGroteskDisplay-Black.otf") format("otf");
}

.DtFont {
  font-family: "CustomFont", sans-serif;
}

html {
  scroll-behavior: smooth;
}
